.page-title {
  font-family: groboldregular, sans-serif;
  font-size: 1.5em;
}

ion-textarea {
  background: #1e1e1e;
  padding: 10px;
}

.page-title{
  font-family: groboldregular, sans-serif;
  font-size: 1.5em;
  padding: 0;
}

.btn-previous {
  color: white;
}

ion-input {
  color: black;
  background-color: #ffffff;
  border-radius: 50px;
}
