.page-title {
  font-family: groboldregular, sans-serif;
  font-size: 1.5em;
}

ion-textarea {
  background: #1e1e1e;
  padding: 10px;
}
ion-card-header {
  text-align:center;
}

ion-button {
  margin-bottom: 0;
}

.page-title{
  font-family: groboldregular, sans-serif;
  font-size: 1.5em;
  padding: 0;
}

.join-button {
  color: #ffffff;
}

.btn-previous {
  color: white;
}
