.top-games {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1e1e1e;
  border-radius: 64px;

  .top-games-title {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
  }

  .list-games {
    display: flex;
    flex-direction: row;

    .game-card {
      background: none;
      box-shadow: none;
      padding: 0;
      cursor: default;

      .game-img {
        max-width: 75%;
        max-height: 200px;
      }
    }
  }
}
.session {
  cursor: pointer;
}
ion-item { cursor: default; }


