<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button >
        <ion-back-button
                icon="chevron-back-outline"
                text=""
                class="btn-previous"
                defaultHref="tabs/homepage">
        </ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center page-title">Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <div class="container container--chat">
    <ion-grid>
      <ion-row class="ion-padding-bottom">
        <ion-col size="4" class="ion-text-center"> {{ session.game }} </ion-col>
        <ion-col size="4" class="ion-text-center"> {{ session.mode }} </ion-col>
        <ion-col size="4" class="ion-text-center"> {{ session.goal }} </ion-col>
      </ion-row>

      <ion-row *ngFor="let message of messages | async">
        <ion-col size="8" class="message"
                 [offset]="message.createdBy === myUserUid ? 4 : 0"
                 [ngClass]="{ 'my-message': message.createdBy === myUserUid, 'other-message': message.createdBy !== myUserUid}">
          <div class="author"> {{ message.createdByUsername }}</div>
          <span class="message">{{ message.msg }}</span>
          <div class="time ion-text-right">{{ message.createdAt.toMillis() | date: 'dd/MM/yyyy hh:mm' }}</div>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="container container--chat">
      <ion-row class="ion-align-items-center">
        <ion-col size="10">
          <ion-textarea
                  class="msg__input"
                  rows="1"
                  maxlength="500"
                  placeholder="Ton message..."
                  [(ngModel)]="newMsg"
          >
          </ion-textarea>
        </ion-col>
        <ion-col size="2">
          <ion-button
                  expand="block"
                  fill="clear"
                  class="btn__msg"
                  [disabled]="newMsg === ''"
                  (click)="sendMessage()">
            <ion-icon name="send" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-toolbar>
</ion-footer>
