.message__input {
  width: 100%;
  border: 1px solid var(--ion-color-medium);
  border-radius: 6px;
  background: #ffffff;
  resize: none;
  margin-top: 0;
  --padding-start: 8px;
}

.message {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 4px;
  white-space: pre-wrap;
}

.my-message {
  background: var(--ion-color-tertiary);
  color: #ffffff;
}

.other-message {
  background: var(--ion-color-primary);
  color: #ffffff;
}

.author {
  font-size: 0.75rem;
}

.time {
  color: lightblue;
  float: right;
  font-size: 8px;
}