<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button >
        <ion-back-button
                icon="chevron-back-outline"
                class="btn-previous"
                text=""
                defaultHref="tabs/session/game">
        </ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center page-title">Plateforme</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="container">
      <ion-grid>
        <div class="choices">
          <ion-badge class="choice__item" *ngFor="let choice of choices" color="primary">
            {{ choice }}
          </ion-badge>
        </div>

        <ion-row class="ion-margin-top">
          <ion-col *ngFor="let platform of allPlatforms"
                   size="4"
                   size-sm="4"
                   size-xs="12"
                   class="ion-text-center"
                   (click)="saveAndNextStep(platform)">

            <ion-card>
              <img src="{{ platform.image }}" alt="Image du jeu {{ platform.name }}" class="card__image">
              <ion-card-header>
                <ion-card-title class="card__title">
                <span *ngIf="platform.name.length > 20">
                  {{ platform.name | slice:0:20 }}...
                </span>

                  <span *ngIf="platform.name.length <= 20">
                  {{ platform.name }}
                </span>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

  </div>
</ion-content>
