ion-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 1rem;
  height: 200px;

  &:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
    transition-duration: 0.5s;
  }
  .card__image {
    width: 100px;
    height: auto;
  }
}