/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



// ========================================== //
//                 Fonts
// ========================================== //

// GROBOLD
@font-face {
  font-family: 'groboldregular';
  src:
          url('assets/fonts/grobold-webfont.woff2') format('woff2'),
          url('assets/fonts/grobold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// OPEN SANS
@font-face {
  font-family: 'Open-Sans-Regular';
  src:
          url('assets/fonts/opensans-regular-webfont.woff2') format('woff2'),
          url('assets/fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// ========================================== //
//                 PERSONAL RULES
// ========================================== //

* {
  font-family: 'Open-Sans-Regular', sans-serif;
}

ion-item {
  &:hover {
    cursor: pointer;
  }
}

ion-card {
  &:hover{
    cursor: pointer;
  }
}

.page-title{
  font-family: groboldregular, sans-serif;
  font-size: 1.5em;
  padding: 0;
}

.btn-previous {
  color: white;
}

// Header
// ========================================================

ion-header {
  background: var(--ion-toolbar-background);

  ion-toolbar{
    background: var(--ion-toolbar-background);

    ion-row {
      background: var(--ion-toolbar-background);
    }
  }
}

.header-desktop {
  padding: 0 40px 0 40px;

  .logo {
    max-height: 40px;
  }
}

.page-title {
  font-family: groboldregular, sans-serif !important;
  font-size: 2em;
}


// Container
// ========================================================

.container {
  margin: 0 auto;
  max-width: calc(1280px - 100px);

  &--searchbar {
    max-width: calc(1280px - 500px);
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &--chat {
    max-width: calc(1280px - 500px);
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &--chat-input {
    max-width: calc(1280px - 500px);
  }
}

.clickable {
  cursor: pointer;
}

// Login & Register
// Center element in the middle of the screen
// Used on Login page AND Register page
// ========================================================
.middle {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .fake-card {
    max-width: 350px;
  }

  .img-container {
    display: block;
    margin: 0 auto;
    width: 400px;
  }

  ion-title {
    margin: 3rem 0;
    font-family: groboldregular, sans-serif;
  }

  ion-input {
    color: black;
    background-color: #ffffff;
    border-radius: 50px;
    --padding-start: 25px;
  }

  .or {
    text-align: center;
  }

  ion-item {
    margin: 0;
  }

  .btn-signup::part(native) {
    color: black;
  }
}

.choices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 25px 0;

  .choice__item {
    margin: 3px 1rem;
  }
}

// Desktop
@media (min-width: 768px){
  .middle {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .fake-card {
      max-width: 400px;
      background: #1B1B1B;
      border-radius: 50px;
      padding: 100px 35px;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
  }
}


