.btn-previous { color: white; }

ion-buttons { margin: 0; }

ion-card {
  padding-top: 1rem;

  &:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
    transition-duration: 0.5s;
  }
  .card__image {
    width: 50%;
    height: auto;
  }
}

ion-list { width: 100%; }

